body {
  background-color: hsl(0, 0%, 73%);
  text-align: center;
  color: white;
  height: 100%;
  padding: 10px;
  margin: 0%;
}

#settings-column {
  max-height: 100%;
  overflow: hidden;
}

#canvas-column {
}

.inline-canvas {
  margin-right: 20px;
}

li {
  margin-top: 25px;
  margin-right: 25px;
  padding: 10px;
}

button {
  margin-top: 25px;
}
